*{
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color:#123891;
    margin-left: 7%;
}

#subtitulo {
    font-family: sans-serif;
    color:steelblue;
    margin-left: 1%;
}

fieldset {
    border:0;
}

body {
    background-color:lightblue;
    font-family: sans-serif;
    font-size: 1em;
    color:#123891;
    margin-left: 36%;
    margin-top:2%;
    justify-content: center;
}

textarea, input, select, button {
    font-family: Arial;
    font-size: 1em;
    color: #123891;
    border-radius: 5px;
}

.camp {
    margin-bottom: 1em;
}

.camp label{
    margin-bottom: 0.2em;
    color:darkorchid;
    display: block;
}

fieldset.group .camp {
    float: left;
    margin-right: 1em;
}

.camp input[type="text"], .camp input[type="email"], .camp select, .camp textarea {
    padding: 0.2em;
    border: 1px solid #123891;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display:block;
}

.group:before, .group:after {
    display: table;
}

.group:after {
    clear: both;
}

.camp select option {
    padding-right: 1em;
}

.camp input:focus, .camp select:focus, .camp textarea:focus {
    background: #98b6fb;
}

.botao {
    font-size: 1.2em;
    background: #123891;
    border: 0;
    margin-bottom: 1em;
    color:aliceblue;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
}

.botao, select{
    cursor: pointer;
}

.botao:hover {
    background: cadetblue;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#check {
    display: inline-block;
}
